<form class="" action="/songs/create" method="post">
  <input type="text" name="song[artist]" placeholder="Artist">
  <input type="text" name="song[title]" placeholder="Title">
  <input type="text" name="song[release_year]" placeholder="Release Year">
  <input type="submit" value="Submit">
</form>
